<app-sidebar></app-sidebar>
<div class="container mt-5">
    <h1>LISTA DE RETIROS</h1>
    <button class="btn btn-primary my-2" routerLink="/retiros/agregar">NUEVO RETIRO</button>
    <table class="table table-light border text-center">
        <thead>
            <tr>
                <th>CÓDIGO</th>
                <th>FECHA</th>
                <th>MONTO</th>
                <th>CLIENTE</th>
                <th>ACCIONES</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let retiro of retiros">
                <td>{{ retiro.cod_ret }}</td>
                <td>{{ retiro.fecha }}</td>
                <td>{{ retiro.monto }}</td>
                <td>{{ retiro.cliente }}</td>
                <td>
                    <button class="btn btn-success" [routerLink]="['/retiros', retiro.cod_ret]">Editar</button>
                    <button class="btn btn-danger ms-1" (click)="eliminar(retiro.cod_ret)">Eliminar</button>
                </td>
            </tr> 
        </tbody>
    </table>
</div>